.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  
  // margin-bottom: 10px;
}
.questions {
  background-color: #f1f1f1;
  padding: 0 20px;
  padding-bottom: 20px;
}