.container {
  padding: 24px 0;
  // width: 1200px;
  width: 90%;
  // min-width: 800px;
  margin: 0 auto;
  display: flex;
  height: calc(100vh - 65px - 64px);
}

.left {
  width: 120px;
  text-align: center;
}
.right {
  flex: 1;
  margin-left: 60px;
}